body {
  display: flex; /*要素を横並びにする*/
  flex-direction: column; /*要素を上から順に配置*/
  align-items: center;/*上下中央*/
  justify-content: center;/*左右中央*/
  height: 100vh;
  margin: 0;
  gap: 10px;
  background-color:plum
}

.green-square {
  width: 400px;
  height: 100px;
  background-color: green;
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
}

.blue-square {
  width: 400px;
  min-height: 100px; /* 高さが設定されていない場合の最小高さ */
  background-color: blue;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; /* ワニが青四角に表示 */
}

#animalCount {
  font-size: 28px;
}

#alligatorButton,#catButton,#robotButton,#muscleButton {
  font-size: 58px;
}

.large-icon {
  font-size: 48px;
}
